[dev-packages]
pytest = "*"
aws-xray-sdk = "*"

# TODO https://dsdmoj.atlassian.net/browse/SA-152 - Dont know why pipenv adds this for us without asking
# or how we are accidentally asking to add it
v = {editable = true,version = "*"}

[packages]
pytz = "*"
aioboto3 = "*"
requests = "*"
requests-aws4auth = "*"

[requires]
python_version = "3.7"
